.nike-react{
    color: #FA804C;
    font-weight: bold;
    font-size: 80px;
}
.infinity{
    font-weight: bold;
    font-size: 80px;
}
.nike-button{
    background: linear-gradient(180deg, #3D4FF3 0%, #3543BC 100%);
    border-radius: 10px;
    }
    .shoes-bg{
        background-color: #F1F1F1;
        
    }
    .shoes-price{
        color:#FA804C;
        font-weight: 900;
        font-size: 36px;
    }
    .casual-shoes img{
        width: 100%;
        height: 280px;
        
        
    }
    .formal-shoes img{ 
        width: 100%;
        height: 280px;
    }
    .formal-shoes-bg{
        background-color: ghostwhite;
    }